[submodule "apps/setup"]
	path = apps/setup
	url = https://github.com/usini/pocca-setup
[submodule "apps/pocca"]
	path = apps/pocca
	url = https://github.com/usini/pocca
[submodule "apps/selfie"]
	path = apps/selfie
	url = https://github.com/usini/pocca-selfie
[submodule "apps/gif"]
	path = apps/gif
	url = https://github.com/usini/pocca-gif
[submodule "apps/webapi"]
	path = apps/webapi
	url = https://github.com/usini/pocca-webapi
[submodule "apps/pano"]
	path = apps/pano
	url = https://github.com/usini/pocca-pano
[submodule "apps/pocca-pose-estimation"]
	path = apps/pose-estimation
	url = https://github.com/usini/pocca-pose-estimation
